In [2]:
print('hello word')
print('bonjour')
'bonjour'

hello word
bonjour

'bonjour'

In [13]:
#Integer 0, 1, 2, 3 (N)
a = 10
print(a)
print(type(a))

#Float 0.5 , 1.66
variable2 =10.0
print(variable2)
print(type(variable2))

#String 'azertyuiop'
variable3 = 'OM'
print(variable3)
print(type(variable3))

#Boolean True/False, 1/0
print(1 == 0)#egalité ==
print(1 < 0)#inférieur <
print(1<=0)#inférieur ou égal <=

print( 1>0 )#supérieur >
print(1 >= 0)#supérieur ou égal >=

print(1 != 0)#different

print(bool(1), bool(0))

10
<class 'int'>
10.0
<class 'float'>
OM
<class 'str'>
False
False
False
True
True
True
True False

In [15]:
print(int(15.2))# convertir float en int <>

15

In [14]:
#Tuple (1,0) se met toujours entre parenthèse
variable4 = (1,0)
print(variable4)
print(type(variable4))

#List [1,0, 'OM' , 'PSG', 'OL'] #index des listes commences à 0
variable5 = [1,0, 'OM' , 'PSG', 'OL']
print(variable5)
print(type(variable5))

#Dict {'P' : 'Pomme'} P : key,  Pomme : value

variable6 = {'P':['Profil', 'PApa', 'Peloton', 'Pomme'],
             'Hoby':['Eau', 'Vary', 'Clavier', 'Laoka']
             }

print(variable6)
print(type(variable6))


#if else / elif Permet de mettre des conditions
#variable
if variable3 == 'PSG':
  print("c'est le PSG")
elif variable3 == 'OM':
  print("c'est l'OM")
else:
  print("ce n'est ni l'OM ni le PSG")
  print(variable3)

(1, 0)
<class 'tuple'>
[1, 0, 'OM', 'PSG', 'OL']
<class 'list'>
{'P': ['Profil', 'PApa', 'Peloton', 'Pomme'], 'Hoby': ['Eau', 'Vary', 'Clavier', 'Laoka']}
<class 'dict'>
c'est l'OM

In [19]:
#Boucle for <variable> in <liste>
variableB = "HOBY"
for i in [0, 1, 2,3]:
  print(i)
  print(variableB)

for i in range (10): #Print uniquement jusqu'à 9 puisque commence à 0
  print(i)

  del(i)

0
HOBY
1
HOBY
2
HOBY
3
HOBY
0
1
2
3
4
5
6
7
8
9

In [20]:
#while <condition> pas résolu, on boucle
#ATTENTIONAU BOUCLE INFINIE

i=0
while (i!=10):
  print(i)
  i = i+1

0
1
2
3
4
5
6
7
8
9

In [24]:
#Fonction def NOM_FONCTION(ARGUMENT) Argument = les variables qui vont être utilisé dans la fonction

def mean(number1, number2):
  mean_of_two_numbers = (number1 + number2) / 2

  return mean_of_two_numbers

#print()
mean (10, 20)
print (mean(30, 50))

40.0